:root {
    --light-cornflower-blue: #8ecae6ff;
    --blue-green: #219ebcff;
    --prussian-blue: #023047ff;
    --honey-yellow: #ffb703ff;
    --orange: #fb8500ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 9vh;
    background-color: var(--blue-green);
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: var(--prussian-blue);
    font-weight: 500;
}

.left {
    height: 91vh;
    background-color: var(--prussian-blue);
}

.right {
    height: 91vh;
    background-color: var(--light-cornflower-blue);
}

.form-control::placeholder {
    opacity: .5;
}

.custom-jumbo {
    margin: 30px;
    padding: 0px;
    
}

.mainjumbo {
    padding-top: 1vh;
    padding-bottom: .5vh;
    background-color: var(--honey-yellow);
}

.fivedayjumbo {
    margin-top: 1vh;
    margin-left: .5vw;
    padding: 0px;
    padding-bottom: 1vh;
}

.cardsize {
    width: 80vw;
    padding: 0;
    margin: auto;
}

img[src=""] {
    display: none;
}

.weathicon {
    width: 3rem;
    font-size: 1rem;
}